{% import 'macros/social.html.j2' as social %}
<footer id="footer">
    <ul class="icons">
        <li>{{ social.icon_label_clickable("#", "fa-twitter", "Twitter") }}</li>
        <li>{{ social.icon_label_clickable("#", "fa-facebook", "Facebook") }}</li>
    </ul>
    <ul class="copyright">
        <li>&copy; {{ site_name }}. All rights reserved.</li>
    </ul>
</footer>
