.landing {
}

.landing-bg {
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/static/images/bg-preload.jpg);
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/static/images/bg-preload.jpg);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/static/images/bg-preload.jpg);
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(/static/images/bg-preload.jpg);
    padding-top: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.animate-out {
    .btn-flat, .footer-copyright {
        transition: height 250ms ease-in-out, opacity 400ms ease-in-out;
        opacity: 0 !important;
    }
    .hero {
        transition: height 250ms ease-in-out, opacity 400ms ease-in-out;
        transition-delay: 300ms;
        opacity: 0 !important;
    }
    .landing-bg {
        animation: animate 3s ease;
        animation-delay: 1s;
    }
}


@keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    35% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
    100% {
        transform: scale(0, 0);
        opacity: 0;
    }
}

.hero {
    font-weight: bold;
    h4.name {
    }
}

ul.action {
    margin-top: 3em;
    li {
        display: inline-block;
        margin: 0em .5em;
        .btn-flat {
            opacity: 0.7;
            &:hover {
                opacity: 1;
            }
        }
    }
}

.footer-copyright {
    opacity: 0.5;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    z-index: 10;
}

.b-lazy {
    -webkit-transition: opacity 2s ease-in-out;
       -moz-transition: opacity 2s ease-in-out;
         -o-transition: opacity 2s ease-in-out;
            transition: opacity 2s ease-in-out;
             max-width: 100%;
               opacity: 0.2;
}
.b-lazy.b-loaded {
   opacity: 1;
}
