@import "materialize/components/color-variables";

.sidenav {
    box-shadow: none !important;
}

.timeline {
    margin-top: 4em;
    .timeline_element {
        padding: 0px;
        margin-bottom: 0px;
        p {
            padding-bottom: 1em;
        }
        :last-child {
            padding-bottom: 2em;
        }
    }
}

.timeline-header {
    margin-bottom: 2.5em;
}

.timeline_element-time {
    time {
        display: inline-block;
        padding-right: 1em !important;
        margin-top: 6px;
    }
}

.timeline_element-content {
    &:before {
        content: ' ';
        width: 8px;
        height: 8px;
        background-color: red;
        display: inline-block;
        position: absolute;
        left: -4px;
        top: 1em;
    }
    position: relative;
    border-left: 1px solid lightgrey;
    padding: 0 2em !important;
    h1, h2, h3, h4, h5, h6 {
        margin-top: 0px;
        padding-top: 0px;
    }

    h6 {
        margin-bottom: 2em;
    }
}

ul.technology {
    li {
        display: inline-block;
        margin-bottom: 5px;
    }
    margin-bottom: 0 !important;
}

ul.bullet {
    list-style-type: square;
    li {
        list-style-type: square !important;
        margin-left: 1em;
    }
}

.avatar {
    margin-top: 3em;
}

.user-view {
    padding-top: 1em !important;
    li {
        padding: 0px !important;
        margin: 0px !important;
        line-height: 1em;
    }
    .title, .name {
        font-weight: bold;
    }
    .title {
        margin-bottom: 10px;
    }
}

a:link, a:active, a:visited {
    color: map-get($red, "base");
}

a:hover {
    text-decoration: underline;
}
