{% extends 'base.html.j2' %}
{% block body %}
<main class="container white-text center-align">
    <div class="row col s12 hero">
        <h4 class="name black-text">Oops. Something went wrong :(</h4>
    </div>
</main>
{% endblock body %}
