<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ site_name }} - A Flask app in the Cloud{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        {% block css_header %}
            {% assets "scss_main" -%}
                <link rel="stylesheet" href="{{ ASSET_URL }}" />
            {%- endassets %}
            {% assets "css_all" -%}
                <link rel="stylesheet" href="{{ ASSET_URL }}" />
            {%- endassets %}
        {% endblock %}
        <noscript>
            {%- assets "scss_ns" -%}
                <link rel="stylesheet" href="{{ ASSET_URL }}" />
            {%- endassets -%}
        </noscript>
    </head>
    <body class="{{ bodyClass }}">
        <div id="page-wrapper">
            {% block body_header %}
                {% include 'components/menu.html.j2' %}
            {% endblock %}
            {% block body %}{% endblock body %}
            {% block footer -%}
                {% include 'components/footer.html.j2' %}
            {%- endblock footer %}
        </div>
        {% block js_footer %}
            {% assets "js_all" -%}
                <script async src="{{ ASSET_URL }}"></script>
            {%- endassets %}
        {% endblock %}
    </body>
</html>
